<p>
  <b>Simteamid:</b>
  <%=h @sim_staff.sim_team_id %>
</p>

<p>
  <b>Realstaffid:</b>
  <%=h @sim_staff.real_staff_id %>
</p>


<%= link_to 'Edit', edit_sim_staff_path(@sim_staff) %> |
<%= link_to 'Back', sim_staffs_path %>