<table class="f1omg_contenttable">
	<tr>
		<td width="60%">
			<h4 class="f1omg">Team Information</h4>
			<hr class="f1omg_hr"/>
			<%= render :partial => 'sim_teams/quickview' %>
			<hr class="f1omg_hr"/>
			<div class="f1omg_alignedright"><%= link_to '[manage your team]', yourteam_path %></div>
		</td>
		<td width="40%">
			<h4 class="f1omg">Standings</h4>
			<hr class="f1omg_hr"/>
            <!-- TODO: Create separate file -->
			<table class="f1omg_datatable" align="center">
				<tr class="f1omg_th">
					<td class="f1omg_th" width="20%" align="center">Pos</td>
					<td class="f1omg_th" width="60%">Team</td>
					<td class="f1omg_th" width="20%" align="center">Pts</td>
				</tr>
				<tr>
					<td align="center">1</td>
					<td align="left">Ferrari</td>
					<td align="center">100</td>
				</tr>
				<tr>
					<td align="center">2</td>
					<td align="left">Ferrari</td>
					<td align="center">100</td>
				</tr>
				<tr class="f1omg_highlighted">
					<td align="center">3</td>
					<td align="left">OMG Racing!</td>
					<td align="center">90</td>
				</tr>
				<tr>
					<td align="center">4</td>
					<td align="left">Ferrari</td>
					<td align="center">80</td>
				</tr>
				<tr>
					<td align="center">5</td>
					<td align="left">Ferrari</td>
					<td align="center">60</td>
				</tr>
			</table>
			<hr class="f1omg_hr"/>
            <div class="f1omg_alignedright"><a href="/">[see full table]</a></div>
		</td>
	</tr>
</table>