<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/application.css"/>
		<title>Welcome To F1 OMG - F1 Management Online Game</title>
	</head>
	<body>
		<p>Welcome Layout</p>
		<div id="f1omg_content">
			<%= yield %> 
		</div>
	</body>
</html>