<table class="f1omg_datatable">
	<tr>
		<td>Team Name:</td>
		<td><%= SimTeam.find_by_user_id( current_user ).title %></td>
	</tr>
	<tr>
		<td>Owner:</td>
		<td><%= current_user.name %></td>
	</tr>
	<tr>
		<td>Current Balance:</td>
		<td>&#8364; <%= SimTeam.find_by_user_id( current_user ).money %></td>
	</tr>
	<tr>
		<td> </td>
		<td> </td>
	</tr>
	<tr>
		<td>Driver 1:</td>
		<td>name here</td>
	</tr>
	<tr>
		<td>Driver 2:</td>
		<td>name here</td>
	</tr>
	<tr>
		<td>CEO:</td>
		<td>name here</td>
	</tr>
	<tr>
		<td>CTO:</td>
		<td>name here</td>
	</tr>
	<tr>
		<td>Engine:</td>
		<td>name here</td>
	</tr>
	<tr>
		<td>Chassis:</td>
		<td>name here</td>
	</tr>
</table>