<table class="f1omg_datatable">
	<tr class="f1omg_th">
		<td width="20%">Role</td>
		<td width="40%">Name</td>
		<td width="20%">Cost/Race</td>
		<td width="20%"></td>
	</tr>
    <tr>
        <td>CEO</td>
        <td>
            <%= @sim_team_staff %>
        </td>

    </tr>
        

</table>